*~
rmath-mlton
rmath-mlton.sml
rmath-polyml
rmath-polyml.sml
README.html
README.pdf
README.tex
auto
*.so
*.o
rmath-mosml.sml
rmath-mosml.c
rmath-smlsharp.sml
rmath-smlsharp.smi
scratch.sml
a.out
rmath-mosml-sig.sml
rmath-sig.sml
